body{
    font-family: sans-serif;
    background-color: whitesmoke;
}
.head{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}
.name{
    text-align: center;
    margin-bottom: 50px;
}
.ingredient{
    max-width:600px ;
    margin: 0 auto;
    color: grey;
    font-size: 16px;
}

.cardcontainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-bottom: 50px;
}

.card{
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 7px;
    width: 90%;
    padding: 20px;
}

li{
    margin-bottom: 10px;
    line-height: 1.5;
}

.things{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.img{
    margin-left:10%;
   width: 80%;
   height: 320px;
   object-fit: cover;
   border-radius: 20px;
}

@media (max-width:750px)
{
    .cardcontainer{
        grid-template-columns: 1fr;
        color: aqua;
        
    }
}