:root{
    --primary: rgb(22, 129, 250);
    --bg-body: wheat;
    --bg-card: white;
    --text-main: #1f1f1f;
    --text-muted: #6b7280;
    --border: rgb(94, 94, 94);
    --input-bg:white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.survey-form{
    background: var(--bg-card);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 25px;
}

header h1{
    margin: 0;
    font-size: 2rem;
}

header p{
    color: var(--text-muted);
    font-size: 0.9rem;
    margin-top: 5px;
    font-style: italic;
}

.toggle{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.switch{
    width: 45px;
    height: 22px;
    background: red;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.switch::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

#theme:checked ~ .form-wrapper .switch::after{
  left: 25px;
}
 #theme:checked ~ .form-wrapper .switch{
    background-color: var(--primary);
 }

#theme:checked ~ .form-wrapper .survey-form{
  background-color: #333333;
  --text-muted: white;
  color: white;
 }

 .form-group{
    margin-bottom: 20px;
 }

 label{
    display: block;
    font-weight:800;
    font-size: 1.2rem;
    margin: 8px;
 }

 .star-rating{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
 }

 .star-rating input{
    display: none;
 }
 .star-rating label{
    color:grey;
    cursor: pointer;
    transition: 0.2s;

}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label { color: #ffcc00; }

input[type="text"], input[type="date"], input[type="file"]{
    width: 100%;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
}

.file-upload{
    border: 2px dashed var(--text-muted);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}
.file-upload:hover{
    border-color: rgb(92, 91, 91);
}

.btn{
    width: 100%;
    background-color: rgb(36, 173, 228);
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.range-levels{
    display: flex;
    justify-content: space-between;
}
#complexity{
    width: 100%;
}
input[type="checkbox"]{display: none;}