body{
    background-color: rgb(27, 27, 27);
    width: 100%;
    display: flex;
    justify-content: center;
}
.gallery{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0;
    
    
}
.photo img{
    transform: tranform 0.3s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 .photo{
    border-radius: 30px;
    width: 90%;
    margin: 10%;
    cursor: pointer;
} 
 .photo img:hover{
    transform: scale(1.5);
    filter: brightness(1.1);
}
.photo{
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 4/5;
}