*{
    
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'Courier New', Courier, monospace;
}



.name{
    margin:20px ;
    text-align: center;
    margin-bottom: 0px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.start{
    color: grey;
    text-align: center;
}
.syntax{
    margin: 20px;
    max-width: 600px;
    margin-left: 350px;
    line-height: 1.7;
}
.space{
    margin: 30px;
}

.abc::first-letter{
    margin-top: 10px;
    float: left;
    font-size: 50px;
    line-height:30px;
    /* padding-right: 12px;
    padding-top: 6px; */
    font-weight: 60;
    color: rgb(11, 6, 6);
}