body{
    font-family: serif;
    background-color: rgb(1, 1, 1);
}

.cardcontainer {
    margin-top: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        height:80%;
        width: 90%;
}

.card{
       width: 300px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(255, 255, 255);
    text-align: center;
}

.imgs{
    box-shadow: 7px 4px 12px;
    width: 80%;
}

.song-name{
    margin: 0px;
    font-size: 25px;
    font-weight: bolder;
    margin-right: 55%;
}

.singer{
    margin: 0px;
    margin-right: 50%;
    letter-spacing: 1px;
    color: rgb(88, 87, 87);
}
input[type="range"]{
    margin: 30px;
  width: 80%;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #000;
}

input[type="range"]::-webkit-slider-thumb{
  appearance: none;
  width: 14px;
  height: 14px;
  background: #000;
  border: 2px solid #fff;
}

#sec{
    color: grey;
    margin-right: 60%; 
}
#min{
    color: grey;
}

.imgt{
    width: 8%;
    margin-right:30px ;
    
}

.imgu{
  width: 10%;
  margin-right: 20px;
}

.imgv{
    width: 8%;
    margin-left: 10px;
}