body {
    background-color: #fcfaf7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: serif;
}
.card {
    background-color: white;
    padding: 60px;
    box-shadow: 5px 5px 25px rgb(138, 130, 130);
    text-align: center;
    margin-top: 60px;
    border: 1px solid rgb(153, 150, 150);
    height: 400px;
    justify-content: center;
    align-items: center;
}
.top-text {
    letter-spacing: 5px;
    color: rgb(112, 124, 124);
    font-size: 15px;
}
h1 {
    font-size: 35px;
    font-weight: normal;
    margin: 20px;
}
.devider {
    height: 1px;
    width: 50px;
    background-color: rgb(163, 123, 20);
    margin: 20px auto;
}
.date {
    font-weight: bold;
    letter-spacing: 2px;
   
}
.location {
    font-size: 18px;
    color: #555;
}
.note {
    font-size: 19px;
    letter-spacing: 1px;
    color: #888;
    font-style: italic;
}
.btn {
    background-color: rgb(27, 26, 26);
    color: white;
    letter-spacing: 1px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0px 4px 10px black;
}